@font-face {
	font-family: 'Montserrat';
	src: url('../fonts/Montserrat-Regular/Montserrat-Regular.eot');
	src: url('../fonts/Montserrat-Regular/Montserrat-Regular.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Montserrat-Regular/Montserrat-Regular.woff2') format('woff2'),
		url('../fonts/Montserrat-Regular/Montserrat-Regular.woff') format('woff'),
		url('../fonts/Montserrat-Regular/Montserrat-Regular.ttf') format('truetype'),
		url('../fonts/Montserrat-Regular/Montserrat-Regular.svg#Montserrat-Regular') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Montserrat-Light';
	src: url('../fonts/Montserrat-Light/Montserrat-Light.eot');
	src: url('../fonts/Montserrat-Light/Montserrat-Light.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Montserrat-Light/Montserrat-Light.woff2') format('woff2'),
		url('../fonts/Montserrat-Light/Montserrat-Light.woff') format('woff'),
		url('../fonts/Montserrat-Light/Montserrat-Light.ttf') format('truetype'),
		url('../fonts/Montserrat-Light/Montserrat-Light.svg#Montserrat-Light') format('svg');
	font-weight: 300;
	font-style: normal;
}
@font-face {
	font-family: 'Montserrat-Hairline';
	src: url('../fonts/Montserrat-Hairline/Montserrat-Hairline.eot');
	src: url('../fonts/Montserrat-Hairline/Montserrat-Hairline.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Montserrat-Hairline/Montserrat-Hairline.woff2') format('woff2'),
		url('../fonts/Montserrat-Hairline/Montserrat-Hairline.woff') format('woff'),
		url('../fonts/Montserrat-Hairline/Montserrat-Hairline.ttf') format('truetype'),
		url('../fonts/Montserrat-Hairline/Montserrat-Hairline.svg#Montserrat-Hairline') format('svg');
	font-weight: 200;
	font-style: normal;
}
@font-face {
	font-family: 'Montserrat-Bold';
	src: url('../fonts/Montserrat-Bold/Montserrat-Bold.eot');
	src: url('../fonts/Montserrat-Bold/Montserrat-Bold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Montserrat-Bold/Montserrat-Bold.woff2') format('woff2'),
		url('../fonts/Montserrat-Bold/Montserrat-Bold.woff') format('woff'),
		url('../fonts/Montserrat-Bold/Montserrat-Bold.ttf') format('truetype'),
		url('../fonts/Montserrat-Bold/Montserrat-Bold.svg#Montserrat-Bold') format('svg');
	font-weight: bold;
	font-style: normal;
}
@font-face {
	font-family: 'Montserrat-Black';
	src: url('../fonts/Montserrat-Black/Montserrat-Black.eot');
	src: url('../fonts/Montserrat-Black/Montserrat-Black.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Montserrat-Black/Montserrat-Black.woff2') format('woff2'),
		url('../fonts/Montserrat-Black/Montserrat-Black.woff') format('woff'),
		url('../fonts/Montserrat-Black/Montserrat-Black.ttf') format('truetype'),
		url('../fonts/Montserrat-Black/Montserrat-Black.svg#Montserrat-Black') format('svg');
	font-weight: 900;
	font-style: normal;
}
/*-----------------------------
t----- B01116 / B11116
f----- EA2229 /EC202A
h2----- #404041
h2----- #404041 /3A3A3C
pft----- #7E3F98
pfb----- #FDE2DB
menu ------ EA1D24 / EC1C24
menu a ------ 8B0304 / 8B0204
pmenu a ------ FDE2DB / FDE2DB
port a ------ EC1C24 / EC1C24
/*-----------------------------*/
blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins,
kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt,
dd, li, fieldset, form, label, legend, table, caption, tbody, tfoot,
thead, tr, th, td, article, aside, figure, footer, header, menu, nav,
section, time, mark, audio, video, details, summary {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
	background: transparent; 
}

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box; 
}

*:before,
*:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box; 
}

.clearfix:before, .clearfix:after {
	display: table;
	content: " "; 
}

.clearfix:after {
 clear: both; }

.clearfix {
 clear: both;
 display: block; }
body {
	color: #626262;
	font-family: 'Montserrat-Light';
	font-size: 14px;
	line-height: 20px;
	margin: 0px;
	padding: 0px; 
}

a, a:hover, a:focus {
	text-decoration: none;
	border: none;
	outline: none;
	/* color: #323232;*/
	color: #42a5f5; 
}

a:hover, a.active {
	color: #42a5f5; 
}

h1, h2, h3, h4, h5, h6 {
	color: #404041;
	font-family: 'Montserrat-Bold';
	visibility: inherit !important; 
}

h1 {
	font-size: 32px;
	line-height: 32px;
	margin-bottom: 24px; 
}

h2 {
	font-size: 30px;
	line-height: 28px;
	margin-bottom: 18px; 
}

h3 {
	font-size: 22px;
	line-height: 25px;
	margin-bottom: 14px; 
}

h4 {
 font-size: 18px;
 line-height: 22px;
 margin-bottom: 10px; }

h5 {
	font-size: 16px;
	line-height: 24px;
	margin-bottom: 8px; 
}

h6 {
	font-size: 16px;
	line-height: 18px;
	margin-bottom: 8px; 
}
 
p {
	color: #404041;
	font-family: 'Montserrat-Light';
	font-size: 14px;
	font-weight: lighter;
	line-height: 20px;
	margin-bottom: 15px; 
}
span{ 
}
img {
 max-width: 100%;
 vertical-align: top;
 height: auto; }

ul, ol {
 margin: 0;
 padding: 0;
 }

ul {
 list-style: none; 
}
.float-right{
	float: right;
}
.float-left{
	float: left;
}
*{
	-webkit-transition: all 300ms linear 0s;
	-ms-transition: all 300ms linear 0s;
	-o-transition: all 300ms linear 0s;
	-moz-transition: all 300ms linear 0s;
	transition: all 300ms linear 0s;
}
.background{
	background: #42a5f5;  
	color: #FFFFFF;
}
.color{
	color: #42a5f5;  
}
/*
*-------------------------------------------
* 	Topbar css
*-------------------------------------------
*/
.header {
  display: block;
  position: relative;
  width: 100%;
}
.tob-bar {
  background:#245580 ;
  color: #ffffff;
  height: 76px;
  overflow: hidden;
}
.top-inner-warp {
  overflow: hidden;
  padding: 5px 0;
  width: 100%;
}
.top-inner-warp .flot-left {
  float: right;
  text-align: right;
  width: 50%;
}
.contact-num, .devetion-switter, .lang-switter {
  display: inline-block;
  font-family: "Montserrat";
  margin-left: 14px;
}
.devetion-switter select, .lang-switter select {
  border: medium none;
  background: transparent;
}
.contact-num { 
}
.devetion-switter  { 
}
.lang-switter { 
}

/*
*-------------------------------------------
* 	menu css
*-------------------------------------------
*/
.header .menu-wrapper {    background: #FFFFFF none repeat scroll 0 0;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
    transition: box-shadow 200ms cubic-bezier(0.4, 0.0, 0.2, 1);
  left: 0;
  position: absolute;
  right: 0;
  width: 100%;
  z-index: 99999;
}
nav.main-menu-warp {
  display: block;
  height: 55px;
  visibility: visible;
  width: 100%;
  position: relative;
}
.main-menu-warp .site-logo, .main-menu-warp .main-menu, .main-menu-warp .sociles, .main-menu-warp .menu-search {
  display: block;
  float: left;
  width: 15%;
}
.main-menu-warp .site-logo {
  display: block;
  left: 25px;
  position: absolute;
  top: -76px;
}
.site-logo > img {
  max-width: 100%;
}
.main-menu-warp .main-menu {
  display: block;
  position: relative;
  width: 100%;
}
.main-menu ul {
  display: block;
  margin: 0;
  padding: 0;
  list-style: none;
}
.main-menu ul li {
  float: left;
  list-style: none;
}
.main-menu ul li a {
  display: inline-block;
  font-family: "Montserrat-Bold";
  padding: 17px 15px;
  color: #42a5f5; 
  font-size: 14px;
  text-transform: uppercase;
}
.main-menu ul li a:hover, .main-menu ul li a.active{ 
	color: #42a5f5;
}
.mobile-arrow {
  background: #ffffff none repeat scroll 0 0;
  border: 1px solid #888888;
  border-radius: 5px;
  display: none;
  float: right;
  height: 40px;
  margin-right: 12px;
  margin-top: 7px;
  padding: 5px;
  width: 40px;
}
.mobile-arrow > span {
  background: #888888 none repeat scroll 0 0;
  content: "";
  display: block;
  height: 2px;
  margin: 6px 0;
}
.main-menu-warp .sociles {
  display: block;
  float: right;
  margin-right: 55px;
  padding: 17px 0;
  width: 11%;
}
.main-menu-warp .sociles a i {
  font-size: 18px;
  padding: 0 5px;
}
.main-menu-warp .menu-search {
  background: #fcd6d7 none repeat scroll 0 0;
  height: 100%;
  position: absolute;
  right: 0;
  text-align: center;
  vertical-align: middle;
  width: 55px; 
}
.menu-search .search-icon {
  display: block;
  padding: 15px;
}
.menu-search .search-form {
  opacity: 0;
  height: 100%;
  overflow: hidden;
  position: absolute;
  right: 55px;
  top: 0;
  width: 0;
}
.search-form form {
  height: 100%;
  width: 100%;
}
.search-form form input {
  border-bottom: medium none;
  border-left: 1px solid #ea1d24;
  border-radius: 0;
  border-top: medium none;
  height: 100%;
  padding: 15px;
  width: 100%;
}
/*
*-------------------------------------------
* 	content css
*-------------------------------------------
*/
.main-content {
  background: #ecf0f5 none repeat scroll 0 0;
  display: block;
  min-width: 200px;
  overflow: hidden;
  padding-top: 60px;
}
.footer {
  background: #245580 none repeat scroll 0 0;
  color: #ffffff;
  height: 50px;
  overflow: hidden;
}
.copyright > img {
  max-height: 50px;
}
.copyright .copy {
  display: inline-block;
  padding: 15px 18px;
  font-family: 'Montserrat';
}
.footer-right .sociles {
  display: block;
  float: right;
  margin-right: 0px;
  padding: 15px 0; 
}
.footer-right .sociles a i {
  color: #ffffff;
  font-size: 18px;
  padding: 0 5px;
}

.panel {
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  border-color: #e7ecf3 #e7ecf3 rgba(0, 0, 0, 0.17);
  border-image: none;
  border-radius: 0;
  border-style: solid;
  border-width: 1px;
  margin-bottom: 15px;

  background-color: #fff; 
  border-radius: 4px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  margin-bottom: 20px;
}
.panel-body {
  padding: 30px 50px;
}
.form-horizontal .control-label {
  text-align: left;
}