@charset "utf-8";
/* CSS Document */

img{border:none;}
.img_res img{
    width:100%;
    height:auto;
}
.img_res50 img{
    width:50%;
    height:auto;
}
.row.no-gutter {
    margin-left: 0;
    margin-right: 0;
}
.row.no-gutter [class*='col-']:not(:first-child),
.row.no-gutter [class*='col-']:not(:last-child) {
    padding-right: 0;
    padding-left: 0;
}

.row.no-gutter20 [class*='col-']:not(:first-child),
.row.no-gutter20 [class*='col-']:not(:last-child) {
    padding-right: 10px;
    padding-left: 10px;
}
@media (max-width: 570px) {
    .row.no-gutter20 [class*='col-']:not(:first-child),
    .row.no-gutter20 [class*='col-']:not(:last-child) {
        padding-right: 5px;
        padding-left: 5px;
    }
}
/* Main global 'theme' and typographic styles */
body {
    font-family: Tahoma, Geneva, sans-serif;
    /*font-size: 12px;*/
    font-size: 1.2em; /* มีค่าประมาณ 12px */
    margin: 0 auto;
    padding: 0!important;
    /* [disabled]padding: 0; */
    line-height: normal;
    background-color:#fff;
}

.txt1_cust_tb {
    padding-left: 1px; 
    padding-right: 1px;
}
.txt2_cust_tb {
    padding-top: 1px;
    padding-bottom: 1px;
}

.label_bh1 {
    font-family: Tahoma,Geneva,sans-serif;
    font-size: 12px;
    padding-left: 5px;
    color: #333333;
}
.label_wh1 {
    font-family: Tahoma,Geneva,sans-serif;
    font-size: 10px;
    color: floralwhite;
}

a:link, a:visited, a:hover, a:active{
    font-family: Tahoma, Geneva, sans-serif;
    color: #000;
    font-size: 13px;
    text-decoration: none!important;
}
a:hover {
    color: #bf1e2e;
}

ul.nav a:hover { color: #999 /*!important*/; }
/**********************************************************************************************************/
/***************************************jeedz**************************************************************/
@font-face {
    font-family: db_helvetica;
    src: url("../fonts/thai/db_helvethaica_x_v3.2-webfont.eot");
    src: url("../fonts/thai/db_helvethaica_x_v3d41d.html?#iefix") format('embedded-opentype'),
        url("../fonts/thai/db_helvethaica_x_v3.2-webfont.html") format('woff2'),
        url("../fonts/thai/db_helvethaica_x_v3.2-webfont-2.html") format('woff'),
        url("../fonts/thai/db_helvethaica_x_v3.2-webfont.ttf") format('truetype'),
        url("../fonts/thai/db_helvethaica_x_v3.2-webfont-3.html#db_helvetica;") format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: db_helvetica_bold;
    src: url("../fonts/thai/db_helvethaicamon_x_med_v3.2-webfont.eot");
    src: url("../fonts/thai/db_helvethaicamon_x_med_v3d41d.html?#iefix") format('embedded-opentype'),
        url("../fonts/thai/db_helvethaicamon_x_med_v3.2-webfont.html") format('woff2'),
        url("../fonts/thai/db_helvethaicamon_x_med_v3.2-webfont-2.html") format('woff'),
        url("../fonts/thai/db_helvethaicamon_x_med_v3.2-webfont.ttf") format('truetype'),
        url("../fonts/thai/db_helvethaicamon_x_med_v3.2-webfont-3.html#db_helvetica_bold;") format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: db_helvetica_cond;
    src: url("../fonts/thai/db_helvethaicamon_x_cond_v3.2-webfont.eot");
    src: url("../fonts/thai/db_helvethaicamon_x_cond_v3.2-webfontd41d.eot?#iefix") format('embedded-opentype'),
        url("../fonts/thai/db_helvethaicamon_x_cond_v3.2-webfont.html") format('woff2'),
        url("../fonts/thai/db_helvethaicamon_x_cond_v3.2-webfont-2.html") format('woff'),
        url("../fonts/thai/db_helvethaicamon_x_cond_v3.2-webfont.ttf") format('truetype'),
        url("../fonts/thai/db_helvethaicamon_x_cond_v3.2-webfont-3.html#db_helvetica_cond") format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face{font-family:'Helvetica Neue';src:url(http://static3.metaltoad.com//themes/mtmd8/fonts/custom/helvetica_neue/50d35bbc-dfd4-48f1-af16-cf058f69421d.woff);font-weight:200;font-style:normal}
@font-face{font-family:'Helvetica Neue';src:,url(http://static2.metaltoad.com//themes/mtmd8/fonts/custom/helvetica_neue/b6d63cb7-64b5-4d39-beaf-a8d9fe5eb1df.woff);font-weight:200;font-style:italic}
@font-face{font-family:'Helvetica Neue';src:url(http://static1.metaltoad.com//themes/mtmd8/fonts/custom/helvetica_neue/bcf54343-d033-41ee-bbd7-2b77df3fe7ba.woff);font-weight:normal;font-style:normal}
@font-face{font-family:'Helvetica Neue';src:url(http://static3.metaltoad.com//themes/mtmd8/fonts/custom/helvetica_neue/2c056da8-4920-4e20-8c69-8a6b315458a9.woff);font-weight:normal;font-style:italic}
@font-face{font-family:'Helvetica Neue';src:url(http://static2.metaltoad.com//themes/mtmd8/fonts/custom/helvetica_neue/14ff6081-326d-4dae-b778-d7afa66166fc.woff);font-weight:bold;font-style:normal}
@font-face{font-family:'Helvetica Neue';src:url(http://static1.metaltoad.com//themes/mtmd8/fonts/custom/helvetica_neue/628a0837-f9e0-4b32-83c4-d99689b9da93.woff);font-weight:bold;font-style:italic}

html {
    font-size: 62.5%; /* เพื่อให้ 1rem มีค่าประมาณ 10px */
}



p {font-family: Arial, Helvetica, sans-serif;font-size:12px;color:#000;line-height:12px;}
ul.p > li{font-family: Arial, Helvetica, sans-serif;;font-size:14px; color: white;line-height:19px;}  
.txt-orange{color:#ef4a23;}

.clearfix {
    zoom: 1;
    &:before,&:after{
        content: " ";
        display: table;
    }
    &:after{
        clear: both;
    }
}
/*h1 {	
        font-size: 56px;
        font-weight: normal;
        margin:0px;
        }
h2 {	
        font-family: db_helvetica_bold, supermarketregular;
        font-size: 38px;
        font-weight: normal;
        margin:0px;
        color:#0062b2;}
h3 {	
        font-family: supermarketregular;
        font-size: 30px;
        font-weight: bold;
        margin:0px;
        color:#00addb;}
h4 {	
        font-family: Helvetica;
        font-size: 16px;
        font-weight: normal;
        color:#d7d7d7;}
h5 {	
        font-family: Helvetica;
        font-size: 16px;
        font-weight: bold;
        line-height:28px;
        margin:0px;
        color:#666;}
h6 {	
        font-family: Tahoma;
        font-size: 14px;
        font-weight: normal;
        color:#00addb;}*/


.txt-blue{
    height:46px;
    width:650px;
    color:#0072bd;
    float:left;
}
.txt-red{
    font-family: Helvetica;
    font-size:20px;
    color:#ef4136;
    width:79px;
    text-align:right;
    float:right;
    height:46px;
    margin: 0px;
    margin-right: 10px;
}
.txt-black{
    font-family: Helvetica;
    font-size:20px;
    color:black;
    width:250px;
    text-align:right;
    float:right;
    height:33px;
    margin-top: 12px;
    margin-right: 10px;
}
.txt-grey{
    color:#999;
}
.bg-grey{
    background-color:#eee;
}

.clear{clear:both;}

.top-10{
    padding-top:10px;
}
.top-20{
    padding-top:20px;
}
.top-30{
    padding-top:30px;
}
.top-40{
    padding-top:40px;
}
.top-50{
    padding-top:50px;
}
.top-60{
    padding-top:60px;
}

.wrap{
    width:1280px;
    margin:0 auto;
}
/**********************************************************************************************************************/
/*******************************************************header********************************************************/

.header{
    width:100%;
    /*width:1280px;
        height:185px;*/
    /*margin:0 auto;*/
    /*background-image:url("../images/head_bg.jpg");
        background-repeat:repeat-x;
        width:1280px;
        height:177px;
        margin:0 auto;*/
}
.orange_tab{
    width:100%;
    height:30px;
    background-color:#e06c0a;
    float:left;
}
.head_right{
    width:200px;
    height:30px;
    float: right;
    margin:4px 0px 0 0;
}
.h_fb, .h_tw, .h_ig, .h_lgin, .h_lgout, .h_signup{
    margin:0px 15px 0 0px;
    float:right;
}
.h_un{
    padding-right: 10px;
    padding-top: 5px;
    color: floralwhite;
    float:right;
}
.head_tab{
    width:1200px;
    height:113px;
    margin:0 auto;
}
/*.head_left{
        position:absolute;
        z-index:1;
        width:130px;
        height:100px;
        float: left;
        margin:0 0 0 25px;
}*/
.logo{
    width:185px;
    height:auto;
    margin:50px 0 20px 30px;
    float: left;
    position:absolute;
    z-index:100;
}
.mn{
    margin:-24px 0 0px 60px!important;
    float:left;
}
.mn_style:link, .mn_style:visited, .mn_style:hover, .mn_style:active{
    font-family:db_helvetica, Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight:bold;
    color:#333;
    text-decoration: none;
    line-height:10px;
    /*margin:0 55px 0 0;*/
}
.mn_style:hover{
    color:#6b6b6b!important;
}
.padd_LR{
    padding-left:3px!important;
    padding-right:3px!important;
}
@media (max-width: 1200px) {
    .head_tab{
        width:100%;
    }
    .logo{
        margin:50px 0 20px 20px;
    }
}
@media (max-width: 768px) {
    .mn{
        display:none;
    }
}

.no_mar_LR{
    margin-left:0!important;
    margin-right:0!important;
}

.width_space{
    width:220px;
}
@media (max-width: 1110px) {
    .width_space{
        width:150px;
    }
}
@media (max-width: 1050px) {
    .width_space{
        width:100px;
    }
}
@media (max-width: 955px) {
    .width_space{
        width:40px;
    }
}
@media (max-width: 850px) {
    .width_space{
        width:0px;
    }
}


/*------------------------mini_navbar------------------------*/
/*.mini_nav_ctrl{
        float:right;
}*/
.navbar-toggle{
    margin:30px 15px 0 0!important;
}

/*------------------------Menu NavBar-----------------------*/
.menu_ctrl{
    top:-17px;
}
@media (max-width: 767px) {
    .menu_ctrl{
        top:0px;
    }
    .head_tab{
        height:110px;
    }
}
.navbar-nav > li {
    margin:0 3px!important;
}
@media (min-width: 955px) {
    .navbar-nav > li {
        margin:0 10px!important;
    }
}
@media (min-width: 768px) {
    .navbar-nav {
        width: 100%!important;
        text-align: center!important;

    }
    .navbar-nav > li {
        float: none!important;
        display: inline-block!important;
        line-height: 3px!important;
    }
}
.menu_style:link, .menu_style:visited, .menu_style:hover, .menu_style:active{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color:#540444;
    text-decoration: none;
    line-height:10px;
}
.menu_style:hover{
    color:#910a77!important;
}
.menu_style3:link, .menu_style3:visited, .menu_style3:hover, .menu_style3:active{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight:normal;
    color:#e06c0a!important;
    text-decoration: none;
    text-align:left;
    margin-left:5px;
}
/*.menu_style3:hover{
        text-decoration: underline!important;
}*/
.menu_style2:link, .menu_style2:visited, .menu_style2:hover, .menu_style2:active{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight:normal;
    color:#000!important;
    text-decoration: none;
    text-align:left;
    margin-left:5px;
}
/*.menu_style2:hover{
        text-decoration: underline!important;
}*/
.drop_hh{
    border-bottom:solid;
    border-bottom-width:1px;
    border-bottom-color:#999;
}
/*------------------------Here For Edit  Caret for Dropdown Menu-----------------------*/
.nav .dropdown.open .glyphicon{
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}
.caret_style{
    float:right;
    margin-right:10px;
    color:#666;
}
/*@media (min-width: 850px) {
.glyphicon, .glyphicon-menu-right, .caret_style{
        display:none!important;
}
}*/

/*------------------------Here For Edit Dropdown Menu-----------------------*/

/* codeส่วนนี้มีเพื่อให้ hover dropdown ถ้าไม่เอาลบทิ้งได้เลย */
/*ul.nav li.dropdown:hover > ul.dropdown-menu {
    display: block;    
} */
/* codeส่วนนี้มีเพื่อให้ hover dropdown ถ้าไม่เอาลบทิ้งได้เลย */

.yamm {
    margin: 0 0 50px;
}
/* Grid demo styles */
.layout-demo,
.grid-demo {
    padding: 12px 0px;
}

.layout-demo [class*="span"] {
    line-height: 80px;
}

.grid-demo [class*="span"] {
    line-height: 30px;
}

.grid-demo [class*="span"],
.layout-demo [class*="span"] {
    background: #eee;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 12px;
    text-align: center;
    font-weight: bold;
}
grid-demo [class*="span"]:hover,
.layout-demo [class*="span"]:hover {
    background: #ddd;
}
/* End Grid demo styles */

.yamm .accordion, .yamm-nav,
.yamm table, .yamm form,
.yamm .thumbnails li {
    margin-bottom: 0;
}

.dropdown_bg{
    background-color:#fff!important;
    text-align:left!important;
}
.dropdown_list{
    margin: 0;
    float:left;
}
.dropdown_list ul{
    margin:0 0 0 0px;
    padding:0;
    float:left;
}
.dropdown_list ul li{
    list-style:none;
    line-height:35px;
    padding:0;
    float:left;
}
.no_margin_padding {
    padding:0!important;margin:0!important;
}
@media (max-width: 767px) {
    .dropdown_list{
        width:100%;
    }
    .dropdown_list ul{
        width:100%;
    }
    .dropdown_list ul li{
        width:100%;
    }
    .menu_style:link, .menu_style:visited, .menu_style:hover, .menu_style:active{
        font-size: 18px;
        line-height:20px;
    }
    .menu_style3:link, .menu_style3:visited, .menu_style3:hover, .menu_style3:active{
        margin-left:15px;
        font-size: 15px;
    }
    .menu_style2:link, .menu_style2:visited, .menu_style2:hover, .menu_style2:active{
        margin-left:15px;
        font-size: 15px;
    }
    .layout-demo,
    .grid-demo {
        padding: 0px 0px;
    }
    .grid-demo [class*="span"],
    .layout-demo [class*="span"] {
        background: #eee;
        margin-top: 0px;
        margin-bottom: 0px;
        font-size: 12px;
        text-align: center;
        font-weight: bold;
    }
    .drop_hh{
        border-bottom:solid;
        border-bottom-width:1px;
        border-bottom-color:#ccc;
    }
    .border_top{
        border-top:solid;
        border-top-width:1px;
        border-top-color:#ccc;
    }

}
@media (min-width: 768px) {
    .dropdown_list{
        margin:0px 0 0 0;
        float:left;
    }
    .dropdown_list ul{
        margin:0 0 25px 20px;
        width:200px;
        padding:0;
        float:left;
    }
    .dropdown_list ul li{
        list-style:none;
        width:200px;
        height:23px;
        float:left;
        line-height:23px;
        margin:0;
        padding:0;
    }
    .dropdown_boxx{
        margin:0 4% 0 15%!important;
        float:left;
    }


}
@media (min-width: 975px) {
    .dropdown_boxx{
        margin:0 10% 0 20%!important;
    }
}
@media (min-width: 1205px) {
    .dropdown_list{
        margin:0px 0 0 0;
    }
    .dropdown_boxx{
        margin:0 15% 0 28%!important;
    }
}

/*****************************************body***************************************************************/
/****************************************index***************************************************************/
.body{
    /*width:1280px;
        margin:0 auto;
        padding:0;
        float:left; */
}

/*------------------------  Bottom Banner  -----------------------*/
.bottom_banner_ctrl{
    width:1180px;
    margin:60px auto 40px auto!important;
}
.btb_center{
    margin:0px auto 0 auto!important;
}
.bann01,  .bann02,  .bann03, .bann04{
    margin-left:10px;
    margin-right:10px;
}
.bann01{
    width:570px!important;
    height:570px!important;
}
.bann01 img{
    width:570px!important;
    height:570px!important;
}
.bann02{
    width:570px!important;
    height:275px!important;
}
.bann02 img{
    width:570px!important;
    height:275px!important;
}
.bann03, .bann04{
    margin-top:20px;
    width:275px!important;
    height:275px!important;
}
.bann03 img, .bann04 img{
    width:275px!important;
    height:275px!important;
}
@media (max-width: 1180px) {
    .bottom_banner_ctrl{
        width:100%;
        margin:60px auto 40px auto!important;
    }
    .btb_center{
        width:590px;
    }
    .bann02{
        margin-top:20px;
    }
}
@media (max-width: 590px) {
    .btb_center{
        width:320px;
    }
    .bann01{
        width:300px!important;
        height:300px!important;
    }
    .bann01 img{
        width:300px!important;
        height:300px!important;
    }
    .bann02{
        width:300px!important;
        height:145px!important;
    }
    .bann02 img{
        width:300px!important;
        height:145px!important;
    }
    .bann03, .bann04{
        width:145px!important;
        height:145px!important;
    }
    .bann03 img, .bann04 img{
        width:145px!important;
        height:145px!important;
    }
    .bann02{
        margin-top:10px;
    }
    .bann03{
        margin:10px 5px 0 10px;
    }
    .bann04{
        margin:10px 0 0 5px;
    }
}
/********   Zoom Effect    **********/
div.bann01 img, div.bann02 img, div.bann03 img, div.bann04 img{
    opacity: 0.9;
    -webkit-transform: scale(1);
    transform: scale(1);
    position: relative;
    display: block;
}
div.bann01:hover img, div.bann02:hover img, div.bann03:hover img, div.bann04:hover img {
    opacity: 1;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: scale(1.12);
    transform: scale(1.12);
}
.bann01, .bann02, .bann03, .bann04{
    position: relative;
    float: left;
    overflow: hidden;
    background: #fff;
    cursor: pointer;
}

/*------------------------  home product  -----------------------*/
.fix_product{
    width:1180px;
    margin:0 auto 60px auto!important;
}
.fix_product_dd{
    width:1180px;
    margin:0 auto 0px auto!important;
}
.mar0{
    margin:0px 0px 0px 0px!important;
}
.hp_center{
    margin:0px auto!important;
}
.h_p_ctrl{
    width:275px!important;
    margin:55px 10px 0px 10px;
    float:left;
}
.h_p_ctrl_ad{
    width:275px!important;
    margin:20px 10px 0px 10px;
    float:left;
}
.imgz{
    width:275px!important;
    height:338px!important;
    margin: 0 0 15px 0;
}
.imgz img{
    width:275px!important;
    height:338px!important;
}
.h_p_ctrl_relate{
    width:275px!important;
    margin:55px 10px 0px 10px;
    float:left;
}
.imgz_relate{
    width:275px!important;
    height:338px!important;
    margin: 0 0 15px 0;
}
.imgz_relate img{
    width:275px!important;
    height:338px!important;
}
@media (max-width: 1180px) {
    .fix_product{
        width:100%;
    }
    .fix_product_dd{
        width:100%;
    }
    .hp_center{
        margin:0px auto 0 auto!important;
        width:885px;
    }
    .hp_center_relate{
        margin:0px auto 0 auto!important;
        width:640px;
    }
    .h_p_ctrl_relate{
        width:140px!important;
        margin:30px 10px 0px 10px;
        float:left;
    }
    .imgz_relate{
        width:140px!important;
        height:172px!important;
        margin: 0 0 15px 0;
    }
    .imgz_relate img{
        width:140px!important;
        height:172px!important;
    }
}
@media (max-width: 885px) {
    .hp_center{
        width:590px;
    }
}
@media (max-width: 640px) {
    .hp_center_relate{
        width:320px;
    }
}
@media (max-width: 590px) {
    .hp_center{
        width:295px;
    }
}

.fix_1160{
    width:1160px;
    margin:0 auto!important;
}
@media (max-width: 1160px) {
    .fix_1160{
        width:100%;
    }
}
.just_in{
    /*font-family:db_helvetica, Arial, Helvetica, sans-serif;*/
    font-family:db_helvetica_cond, Arial, Helvetica, sans-serif;
    font-size: 45px;
    color:#000;
    text-align:center;
    margin: 45px auto 20px auto!important;
}
.product_name{
    /*font-family:db_helvetica, Arial, Helvetica, sans-serif;*/
    font-family:db_helvetica_cond, Arial, Helvetica, sans-serif;
    font-size: 20px;
    line-height:18px;
    color:#000;
    margin: 0px 0 0 0;
}


/********   Zoom Effect    **********/
div.h_p_ctrl img, div.h_p_ctrl_relate img{
    opacity: 0.9;
    -webkit-transform: scale(1);
    transform: scale(1);
    position: relative;
    display: block;
}
div.h_p_ctrl:hover img , div.h_p_ctrl_relate:hover img{
    opacity: 1;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: scale(1.12);
    transform: scale(1.12);
}
.imgz, .imgz_relate{
    position: relative;
    float: left;
    overflow: hidden;
    background: #fff;
    cursor: pointer;
}


@media (max-width: 768px) {
    .just_in{
        font-size: 35px;
        margin: 15px auto 20px auto!important;
    }
    .h_p_ctrl{
        margin-top:30px;
    }

    .h_p_ctrl_ad{
        margin-top:5px;
    }

}
/*@media (max-width: 570px) {
.h_p_ctrl{
        width:50%!important;
}
}*/
/*------------------------   home news  -----------------------*/
.g100{
    width:100%;
    background-color:#eee;
}
.mg-top-bt{
    margin-top:80px!important;
    padding-bottom:100px!important;
}
.h_NP{
    font-family:db_helvetica_cond, Arial, Helvetica, sans-serif;
    font-size: 42px;
    color:#000;
    text-align:center;
    margin: 70px auto 15px auto!important;
}
.news_head{
    font-family:db_helvetica_cond, Arial, Helvetica, sans-serif;
    font-size: 29px;
    line-height:25px;
    color:#333;
    text-align:center;
    margin: 20px 0 0 0;
}
.news_date{
    font-family:db_helvetica_cond, Arial, Helvetica, sans-serif;
    font-size: 22px;
    font-weight:bold;
    line-height:18px;
    color:#333;
    text-align:center;
    margin: 10px 0 0 0;
}
.h_n_ctrl{
    width:370px!important;
    margin:55px 10px 0px 10px;
}
.hnn_center{
    margin:0px auto 0 auto!important;
}
.imgz_hn{
    width:370px!important;
    height:246px!important;
    margin: 0 0 15px 0;
}
.imgz_hn img{
    width:370px!important;
    height:246px!important;
}
@media (max-width: 1180px) {
    .hnn_center{
        width:810px;
    }
    .h_n_ctrl{
        width:250px!important;
        margin:55px 10px 0px 10px;
    }
    .imgz_hn{
        width:250px!important;
        height:166px!important;
        margin: 0 0 15px 0;
    }
    .imgz_hn img{
        width:250px!important;
        height:166px!important;
    }
}
@media (max-width: 810px) {
    .hnn_center{
        width:390px;
    }
    .h_n_ctrl{
        width:370px!important;
        margin:55px 10px 0px 10px;
    }
    .imgz_hn{
        width:370px!important;
        height:246px!important;
        margin: 0 0 15px 0;
    }
    .imgz_hn img{
        width:370px!important;
        height:246px!important;
    }
}
@media (max-width: 768px) {
    .mg-top-bt{
        margin-top:40px!important;
        padding-bottom:80px!important;
    }
    .h_NP{
        margin: 45px auto 15px auto!important;
    }
    .h_n_ctrl{
        margin-top:30px;
    }
}
@media (max-width: 570px) {
    .h_n_ctrl{
        width:370px!important;
        margin-left:auto!important;
        margin-right:auto!important;
        float:none!important;
    }
    .h_NP{
        margin: 45px auto 30px auto!important;
    }
}
@media (max-width: 390px) {
    .h_NP{
        margin: 45px auto 20px auto!important;
    }
    .hnn_center{
        width:320px;
    }
    .h_n_ctrl{
        width:300px!important;
        margin:30px 10px 0px 10px;
    }
    .imgz_hn{
        width:300px!important;
        height:199px!important;
        margin: 0 0 15px 0;
    }
    .imgz_hn img{
        width:300px!important;
        height:199px!important;
    }
}
/********   Zoom Effect    **********/
div.imgz_hn img{
    opacity: 0.9;
    -webkit-transform: scale(1);
    transform: scale(1);
    position: relative;
    display: block;
}
div.imgz_hn:hover img{
    opacity: 1;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: scale(1.12);
    transform: scale(1.12);
}
.imgz_hn{
    position: relative;
    float: left;
    overflow: hidden;
    background: #fff;
    cursor: pointer;
}
/*------------------------    home IG  -----------------------*/
.ig_ctrl{
    width:1280px;
    margin:60px auto 80px auto!important;
}


.ig_in4{
    width:420px!important;
    height:200px!important;
    float:left;
    margin-left:10px;
    margin-right:10px;
    margin-top:20px;
}
.ig_hash{
    margin:20% 0px 0 0;
}
.hashtag{
    font-family:Arial, Helvetica, sans-serif;
    font-size: 37px;
    font-weight:bold;
    color:#000;
    text-align:right;
}
.ig_dt{
    margin:20px 0px 0 0;
}
.g_dt{
    font-family:db_helvetica_cond, Arial, Helvetica, sans-serif;
    font-size: 23px;
    line-height:18px;
    color:#333;
    text-align:right;
}
.ig_social{
    margin:20px 0px 0 0;
}
.g_fb, .g_tw, .g_ig{
    margin:0px 0px 0 15px;
    float:right;
}

.ig_ctrl00{
    width:90px!important;
}
.ig_ctrl01, .ig_ctrl03{
    width:440px!important;
}
.ig_ctrl02{
    width:220px!important;
}
.ig_01, .ig_01 img, .ig_07, .ig_07 img{
    width:420px!important;
    height:420px!important;
}
.ig_02, .ig_02 img, .ig_03, .ig_03 img, .ig_04, .ig_04 img, .ig_05, .ig_05 img, .ig_06, .ig_06 img{
    width:200px!important;
    height:200px!important;
}
.ig_01, .ig_02, .ig_03, .ig_04, .ig_05, .ig_06, .ig_07{
    margin-left:10px;
    margin-right:10px;
    margin-top:20px;
    float:left;
}
@media (max-width: 1280px) {
    .ig_ctrl{
        width:100%;
    }
    .ig_cen{
        width:550px!important;
        margin:0 auto;
    }
    .ig_in4{
        width:210px!important;
        height:100px!important;
        float:left;
        margin-left:5px;
        margin-right:5px;
        margin-top:10px;
    }
    .ig_hash{
        margin:20px 0px 0 0;
    }
    .hashtag{
        font-size: 19px;
    }
    .g_dt{
        font-size: 20px;
        line-height:15px;
    }
    .ig_dt{
        margin:0px 0px 0 0;
    }
    .ig_social{
        margin:-5px 0px 0 0;
    }
    .ig_ctrl00{
        width:0px!important;
    }
    .ig_ctrl01, .ig_ctrl03{
        width:220px!important;
    }
    .ig_ctrl02{
        width:110px!important;
    }
    .ig_01, .ig_01 img, .ig_07, .ig_07 img{
        width:210px!important;
        height:210px!important;
    }
    .ig_02, .ig_02 img, .ig_03, .ig_03 img, .ig_04, .ig_04 img, .ig_05, .ig_05 img, .ig_06, .ig_06 img{
        width:100px!important;
        height:100px!important;
    }
    .ig_01, .ig_02, .ig_03, .ig_04, .ig_05, .ig_06, .ig_07{
        margin-left:5px;
        margin-right:5px;
        margin-top:10px;
        float:left;
    }
}
@media (max-width: 550px) {
    .ig_cen{
        width:320px!important;
    }

    .ig_ctrl01{
        width:215px!important;
    }
    .ig_ctrl02{
        width:105px!important;
    }
    .ig_ctrl03{
        width:320px!important;
    }
    .ig_01, .ig_in4{
        margin-left:0px;
    }
    .ig_02, .ig_03, .ig_04{
        margin-right:0px;
        margin-top:10px;
    }
    .ig_05, .ig_05 img, .ig_06, .ig_06 img{
        width:155px!important;
        height:155px!important;
    }
    .ig_05{
        margin-left:0px;
    }
    .ig_06{
        margin-right:0px;
    }
    .ig_07, .ig_07 img{
        width:320px!important;
        height:320px!important;
    }
    .ig_07{
        margin-left:0px;
        margin-right:0px;
    }
    .ig_ctrl{
        margin:30px auto 40px auto!important;
    }
}

/****************************************footer***************************************************************/
/***********************************************************************************************************/
.footer{
    width:100%;
    margin:0 auto;
    padding:0;
    float:left;
}
.f_tab{
    width:1200px;
    margin:0 auto;
}

.footer_head{
    font-family:db_helvetica, Arial, Helvetica, sans-serif;
    font-size: 19px;
    font-weight:bold;
    color:#333;
    margin: 0 0 20px 0;
}
.footer_link{
    font-family:db_helvetica_cond, Arial, Helvetica, sans-serif;
    font-size: 21px;
    color:#333;
    margin: 20px 0 0 0;
}
.f_left{
    float:left;
    margin:50px 0 0 30px;
}
.f_right{
    float:right;
    margin:70px 0px 0 0;
}
.f_tag_box{
    float:left;
    width:375px;
    margin: 70px 0 0 50px;
}
.f_tag{
    border:1px solid #fff;
    padding:1px 15px;
}
.f_tagg:link, .f_tagg:visited, .f_tagg:hover, .f_tagg:active{
    font-family:db_helvetica, Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight:bold;
    color:#fff;
    margin:8px 10px 0 0;
    text-decoration: none;
    float:left;
}
.up2date{
    float:left;
}
.cate{
    float:left;
    margin:0 70px 0 60px;
}
.f_copy{
    margin: 0 25px 0 0;
    float: right;
}
.f_txt{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
    color:#333;
    margin: 12px 0 0 0;
}
.f_row1{
    width:100%;
    height:290px;
    float: left;
    background-color:#e06c0a;
}
.f_row2{
    width:100%;
    height:35px;
    background-color:#e06c0a;
    float: left;
}
@media (max-width: 1200px) {
    .f_tab{
        width:100%;
        margin:0 auto;
    }
}
@media (max-width: 1160px) {
    .f_tab{
        width:100%;
        margin:0 auto;
    }
    .f_left{
        float:left;
        margin:30px 0 0 50px;
    }
    .f_logo{
        width:200px;
    }
    .f_tag_box{
        clear:left;
        width:375px;
        margin: 30px 0 0 50px;
    }
    .f_right{
        float:right;
        margin:-20px 0px 0 0;
    }
    .cate{
        float:left;
        margin:0 50px 0 30px;
    }
}
@media (max-width: 830px) {
    .f_right{
        display:none;
    }
    .f_tag_box{
        float:right;
        clear:none;
        width:375px;
        margin: 30px 0 0 50px;
    }
    .f_row1{
        height:200px;
    }
}
@media (max-width: 680px) {
    .f_row1{
        display:none;
    }
    .f_copy{
        margin: 0;
        float: none;
        text-align:center;
    }
}

/*****************************************************************body******************************************************************/
/***************************************************************  Product  ***************************************************************/

.bc_ctrl{
    margin-top:5%;
}
.breadcrumb{
    background:none!important;
}
.bc:link, .bc:visited, .bc:hover, .bc:active{
    font-family:db_helvetica_cond, Arial, Helvetica, sans-serif;
    font-size:20px;
    color:#fff;
}
.active{
    font-family:db_helvetica_cond, Arial, Helvetica, sans-serif;
    font-size:20px;
    color:#626971!important;
}
.pd_head{
    width:100%!important;
    position:absolute!important;
    z-index:20;
    margin: 0px auto 0 auto!important;
}
.product_head{
    text-align:center;
    font-family:db_helvetica_cond, Arial, Helvetica, sans-serif;
    font-size: 66px;
    color:#fff;
    margin-top:6%;
}
.bt_more{
    width:104px;
    margin:70px auto 70px auto;
}
@media (max-width: 400px) {
    .bc_ctrl{
        margin-top:10%;
    }
    .product_head{
        font-size: 40px;
        margin-top:-10px!important;
    }
    .bt_more{
        margin:40px auto 40px auto;
    }
}
.product_space_head{
    margin-top:220px!important;
}
@media (max-width: 885px) {
    .product_space_head{
        margin-top:180px!important;
    }
}
.product_dropdown{
    margin: 40px 0 -40px 10px;
}
@media (max-width: 768px) {
    .product_dropdown{
        margin: 40px 0 -20px 10px;
    }
}
/***********************************************************body****************************************************************/
/*****************************************************   Product  detail  **********************************************************/
.fix_1200{
    width:1200px;
    margin:0 auto!important;
}
.fix_500{
    width:500px!important;
    margin:0 auto!important;
}
@media (max-width: 1200px) {
    .fix_1200{
        width:100%;
    }
    .fix_500{
        width:380px!important;
        margin:0 auto!important;
    }
}
@media (max-width: 767px) {
    .fix_500{
        width:100%!important;
        margin:0 auto!important;
    }
    .f500cen{
        width:500px!important;
        margin:0 auto!important;
    }
}
@media (max-width: 530px) {
    .f500cen{
        width:100%!important;
        margin:0 auto!important;
    }
}
.bc_grey:link, .bc_grey:visited, .bc_grey:hover, .bc_grey:active{
    font-family:db_helvetica_cond, Arial, Helvetica, sans-serif;
    font-size:20px;
    color:#ccc;
}
.product_dt_head{
    text-align:center;
    font-family:db_helvetica_cond, Arial, Helvetica, sans-serif;
    font-size: 66px;
    color:#000;
    margin-top:30px;
    margin-bottom:100px;
}
.pd_dt_head{
    font-family:db_helvetica_cond, Arial, Helvetica, sans-serif;
    font-size: 50px;
    color:#000;
    margin:20px 0 0 0;
}
@media (max-width: 615px) {
    .product_dt_head{
        margin-bottom:50px;
    }
    .pd_dt_head{
        margin:0px 0 0 0;
    }
}
.pd_dt_detail{
    font-family:db_helvetica, Arial, Helvetica, sans-serif;
    font-size: 24px;
    line-height:24px;
    color:#333;
    margin:50px 0 0 0;
}
.pd_dt_share{
    font-family:db_helvetica, Arial, Helvetica, sans-serif;
    font-size: 17px;
    font-weight:bold;
    color:#333;
    margin:50px 0 0 0;
}
.share_box{
    width:100%;
    height:54px;
    background-color:#e6e6e6;
    margin:10px 0 0 0;
}
.share_box:hover{
    background-color:#3b579d;
}
.share_box2{
    width:100%;
    height:54px;
    background-color:#dedede;
    margin:0px 0 0 0;
}
.share_box2:hover{
    background-color:#e41c24;
}
.share_box3{
    width:100%;
    height:54px;
    background-color:#ebebeb;
    margin:0px 0 0 0;
}
.share_box3:hover{
    background-color:#29bae8;
}
.fb_left{
    width:127px!important;
    float:left;
    margin:12px 0 0 15px;
}
.fb_right{
    width:22px!important;
    float:right;
    margin:12px 15px 0 0;
}
.tab_ctrl{
    margin:80px 0 50px 0;
}
@media (max-width: 615px) {
    .tab_ctrl{
        margin:30px 0 30px 0;
    }
}
.taggg{
    font-family:db_helvetica, Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight:bold;
    color:#000;
    text-align:center;
    margin-bottom:50px;
}
.tag_style:link, .tag_style:visited, .tag_style:hover, .tag_style:active{
    font-family:db_helvetica_cond, Arial, Helvetica, sans-serif;
    font-size:18px;
    font-weight:normal;
    color:#616a71;
}
.bg-relate{
    padding:60px 0 110px 0;
    margin-top:50px;
    background-color:#f5f5f5;
}
.h_RP{
    font-family:db_helvetica_cond, Arial, Helvetica, sans-serif;
    font-size: 42px;
    color:#000;
    margin: 0px 0 0 2.5%!important;
}
.rp100{
    width:100%;
    background-color:#f5f5f5;
}

/****************************************************************body********************************************************************/
/**************************************************************  News  *******************************************************************/
.n_head{
    font-family:db_helvetica_cond, Arial, Helvetica, sans-serif;
    font-size: 62px;
    line-height:60px;
    color:#db6c0a;
    margin: 0px 0 0 0;
}
.n_date{
    font-family:db_helvetica_cond, Arial, Helvetica, sans-serif;
    font-size: 26px;
    line-height:18px;
    color:#db6c0a;
    margin: 30px 0 30px 0;
}
.n_dt{
    font-family:db_helvetica, Arial, Helvetica, sans-serif;
    font-size: 24px;
    line-height:24px;
    color:#333;
    margin:50px 0 0 0;
}
.cont_read{
    font-family:db_helvetica, Arial, Helvetica, sans-serif;
    font-size: 24px;
    line-height:24px;
    font-weight:bold;
    color:#333;
    margin:30px 0 0 0;
}
.ctn{
    width:26px!important;
}
.nnews{
    padding-bottom:52px;
}
.n_line{
    height:2px;
    width:100%;
    border-width:1px 0 0 0;
    border-style:solid;
    border-color:#ccc;
    margin:0px 0 50px 0;
    float:left;
}
.bt_nmore{
    width:104px;
    margin:20px auto 70px auto;
}
@media (max-width: 400px) {
    .bt_nmore{
        margin:0px auto 40px auto;
    }
    .n_head{
        font-size: 40px;
        line-height:35px;
    }
    .n_date{
        font-size: 26px;
        line-height:18px;
        color:#db6c0a;
        margin: 20px 0 20px 0;
    }
    .n_dt{
        margin:20px 0 0 0;
    }
}

.n_tag_box{
    float:right;
    width:240px;
    margin:10px 0 60px 0;
}
.n_tag_head{
    font-family:db_helvetica, Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight:bold;
    color:#333;
    margin: 0 0 20px 0;
}
.n_tag{
    border:1px solid #616a71;
    padding:1px 12px;
}
.n_tagg:link, .n_tagg:visited, .n_tagg:hover, .n_tagg:active{
    font-family:db_helvetica, Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight:bold;
    color:#616a71;
    margin:8px 10px 0 0;
    text-decoration: none;
    float:left;
}

.news_ig_box{
    width:240px;
    float:right;
}
.n_hashtag{
    font-family:Arial, Helvetica, sans-serif;
    font-size: 24px;
    font-weight:bold;
    color:#000;
    /*margin:80px 0 15px 0;*/
    margin:20px 0 15px 0;
}
.n_folo{
    font-family:db_helvetica_cond, Arial, Helvetica, sans-serif;
    font-size: 23px;
    line-height:18px;
    color:#333;
    margin:0;
}
.n_ig{
    width:100px;
    margin:10px 10px 0 0;
    float:left;
}
.n_fb_box{
    float:right;
    width:240px;
    margin:80px 0 0 0;
}
.n_fb_link_box{
    float:right;
    width:240px;
    margin:35px 0 0 0;
}
.n_fb_link_head{
    float:left;
    width:128px;
    margin:0px 0 0 0;
    clear:left;
}
.n_fb_tag{
    font-family:db_helvetica, Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight:bold;
    color:#333;
    margin: 5px 0 10px 3px;
    float:left;
    clear:left;
}
.n_fb_link_bt{
    float:left;
    width:77px;
    margin:0px 3px 0 0;
}
.n_fb_link_bt img{
    width:77px;
}
@media (max-width: 767px) {
    .n_tag_box, .news_ig_box, .n_fb_box, .n_fb_link_box{
        display:none;
    }
}

/******************************************************************body********************************************************************/
/**************************************************************  News Detail  ****************************************************************/
.news_dt_head{
    text-align:center;
    font-family:db_helvetica_cond, Arial, Helvetica, sans-serif;
    font-size: 66px;
    line-height:55px;
    color:#000;
    margin:30px auto 0px auto;
    width:750px;
}
@media (max-width: 400px) {
    .news_dt_head{
        font-size: 40px;
        line-height:35px;
    }
}
.ndt_date{
    font-family:db_helvetica_cond, Arial, Helvetica, sans-serif;
    font-size: 26px;
    line-height:18px;
    color:#db6c0a;
    margin: 30px 0 30px 0;
    text-align:center;
}
.ndt_dt_h{
    font-size: 37px;
    line-height:30px;
}
.ndt_img{
    width:1160px;
    margin:0 auto;
}
.ndt_dt{
    font-family:db_helvetica, Arial, Helvetica, sans-serif;
    font-size: 24px;
    line-height:24px;
    color:#333;
    margin:50px auto 50px auto;
    width:750px;
}
.nfix_txt{
    margin:50px auto;
    width:750px;
}
.nfix_txt img{
    width:100%!important;
    height:auto!important;
}
.nfix_txt p{
    font-family:db_helvetica, Arial, Helvetica, sans-serif;
    font-size: 24px;
    line-height:24px;
    color:#333;
    margin:0px auto;
}
.ndt_vdo{
    width:670px;
    margin:0px auto 50px auto;
}
@media (max-width: 1160px) {
    .ndt_img{
        width:100%;
    }
}
@media (max-width: 750px) {
    .news_dt_head, .ndt_dt, .nfix_txt{
        width:100%;
    }
    .ndt_dt, .nfix_txt{
        padding:0 10px;
    }
}
@media (max-width: 670px) {
    .ndt_vdo{
        width:100%;
    }
}
.ndt_lycm{
    font-family:db_helvetica_cond, Arial, Helvetica, sans-serif;
    font-size: 49px;
    line-height:49px;
    color:#000;
    margin:30px auto 0px auto;
    width:750px;
    float:left;
}
@media (max-width: 750px) {
    .ndt_lycm{
        width:100%;
    }
}
.ndt_line{
    height:2px;
    width:100%;
    border-width:1px 0 0 0;
    border-style:solid;
    border-color:#ccc;
    margin:0px auto 0px auto;
    float:left;
}
.fb-comments, .fb-comments span, .fb-comments iframe {
    min-width: 100% !important;
    max-width: 100% !important;
}
.fb_ctrl{
    width:800px;
    margin:0 auto 50px auto!important;
    float:none;
}
@media (max-width: 800px) {
    .fb_ctrl{
        width:100%;
    }
}
/******************************************************************body********************************************************************/
/***************************************************************   Global   ****************************************************************/
.g_martop{
    margin-top:40px!important;
}
.gglobal{
    padding-bottom:80px;
}
.g_head{
    font-family:db_helvetica_cond, Arial, Helvetica, sans-serif;
    font-size: 36px;
    line-height:33px;
    color:#333;
    margin: 0px 0 0 0;
}
.g_address{
    font-family:db_helvetica, Arial, Helvetica, sans-serif;
    font-size: 23px;
    line-height:23px;
    color:#333;
    margin: 10px 0 50px 0;
}
.g_tel, .g_mail, .g_open{
    font-family:db_helvetica, Arial, Helvetica, sans-serif;
    font-size: 20px;
    line-height:20px;
    color:#333;
    margin:0px 0 0 0;
    width:33.3%;
    float:left;
}
.g_open{
    text-align:right;
    margin-bottom:50px!important;
}
.g_img{
    margin-top:10px!important;
}
@media (max-width: 1000px) {
    .g_address{
        margin: 10px 0 30px 0;
    }
    .g_tel, .g_mail, .g_open{
        font-family:db_helvetica, Arial, Helvetica, sans-serif;
        font-size: 18px;
        line-height:18px;
        color:#333;
        margin:0px 0 0 0;
        width:100%;
    }
    .g_open{
        text-align:left;
        margin-bottom:30px!important;
    }
    .gglobal{
        padding-bottom:40px;
    }
}

.g_store, .g_stay{
    margin-left:60px;
}
@media (max-width: 1000px) {
    .g_store, .g_stay{
        margin-left:30px;
    }
}
@media (max-width: 830px) {
    .g_store, .g_stay{
        margin-left:0px;
    }
}
.g_sl{
    font-family:db_helvetica, Arial, Helvetica, sans-serif;
    font-size: 18px;
    line-height:18px;
    color:#333;
    margin:0px 0 0 0;
    font-weight:bold;
    float:left;
    margin:0px 0 15px 0;
}
.g_store ul{
    clear:both;
    margin:0;
    padding:0;
}
.g_store ul li{
    list-style:none;
}
.g_locator:link, .g_locator:visited, .g_locator:hover, .g_locator:active{
    font-family:db_helvetica_cond, Arial, Helvetica, sans-serif;
    font-size:18px;
    color:#616a71;
}
.g_locator:hover{
    color:#CCCCCC;
}
.g_locator_active:link, .g_locator_active:visited, .g_locator_active:hover, .g_locator_active:active{
    font-family:db_helvetica_cond, Arial, Helvetica, sans-serif;
    font-size:18px;
    color:#000;
}
.g_sit{
    font-family:db_helvetica, Arial, Helvetica, sans-serif;
    font-size: 18px;
    line-height:18px;
    color:#333;
    margin:0px 0 0 0;
    font-weight:bold;
    float:left;
    margin:80px 0 10px 0;
}
.g_so_clear{
    clear:both;
}
.g_social{
    width:27px;
    margin-right:25px;
    float:left;
}

.store_dropdown{
    display:none;
}
.dd_ctrl{
    margin:0 0 0 15px!important;
    padding:0!important;
}
.dd_ctrl li{
    margin:0!important;
    padding:0!important;
}
.pdd_ctrl{
    margin:0 0 0 7%!important;
    padding:0!important;
}
.pdd_ctrl li{
    margin:0!important;
    padding:0!important;
}
@media (max-width: 767px) {
    .gsl767{
        display:none;
    }
    .store_dropdown{
        display:inline;
        margin:0 0 0 15px;
    }
    .g_head{
        margin: 15px 0 0 0;
    }
}

.Flexible-container {
    position: relative;
    /*padding-bottom: 56.25%;*/
    padding-bottom: 30%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
}

.Flexible-container iframe,   
.Flexible-container object,  
.Flexible-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border:none;
}
/******************************************************************body********************************************************************/
/***************************************************************   Contact   ****************************************************************/
.contact_box{
    margin:0 auto;
    padding:0;
    text-align:center;
}
.f_contact{
    margin:-20px 0 0 0;
}
.w50{
    float:left;
    width:50%!important;
}
.f_contact label{
    line-height:28px;
    font-size:17px;
    font-family:db_helvetica, Arial, Helvetica, sans-serif;
    color:#333;
    font-weight:bold;
    float:left;
    clear:both;
    margin-top:20px;
    margin-bottom:0px;
}
.input_Nwidth{
    width:95%!important;
}
.input_Ewidth{
    width:100%!important;
}
.f_contact input, .f_contact textarea{
    font-size:14px;
    width:100%;
    float:left;
    background-color:#ededed;
    border:none;
    -webkit-border-radius:0px;
    -moz-border-radius:0px;
    border-radius:0px;
    clear:left;
}
.Ccaptcha{
    width:178px!important;
    float:left;
    margin:0px 0 15px 0px;
    clear:left;
}
.Cplease_fill{
    line-height:16px;
    font-size:18px;
    font-family:db_helvetica, Arial, Helvetica, sans-serif;
    color:#616a71;
    float:left;
    margin:20px 0 10px 0px;
    text-align:left;
}
.secu{
    color:#333;
    font-weight:bold;
}
.input_Cwidth{
    width:74%!important;
    clear:none!important;
    margin:2px 0 0 0px;
    float:right!important;
}
.bt_Csubmit{
    float:left;
    margin:25px 0 75px 0px;
    width:178px;
    height:58px;
    text-align:center;
    background-color:#333;
    font-family:db_helvetica, Arial, Helvetica, sans-serif;
    font-weight:bold;
    font-size:17px;
    border:none;
    color:#fff;
    -webkit-border-radius:0px;
    -moz-border-radius:0px;
    border-radius:0px;
    clear:both;
}
.bt_Csubmit:hover{
    background-color:#595959;
}
@media (max-width: 1160px) {
    .input_Cwidth{
        width:70%!important;
    }
}
@media (max-width: 1030px) {
    .input_Cwidth{
        width:68%!important;
    }
}
@media (max-width: 940px) {
    .input_Cwidth{
        width:65%!important;
    }
}
@media (max-width: 860px) {
    .input_Cwidth{
        width:60%!important;
    }
}
@media (max-width: 767px) {
    .input_Cwidth{
        width:72%!important;
    }
}
@media (max-width: 700px) {
    .input_Cwidth{
        width:69%!important;
    }
}
@media (max-width: 640px) {
    .input_Cwidth{
        width:65%!important;
    }
}
@media (max-width: 560px) {
    .input_Cwidth{
        width:60%!important;
    }
}
@media (max-width: 500px) {
    .input_Cwidth{
        width:55%!important;
    }
}
@media (max-width: 444px) {
    .input_Cwidth{
        width:50%!important;
    }
}
@media (max-width: 400px) {
    .input_Cwidth{
        width:100%!important;
        clear:left!important;
        margin:0px 0 0 0px;
        float:left!important;
    }
    .w50{
        float:left;
        width:100%!important;
    }
    .input_Nwidth{
        width:100%!important;
    }
    .bt_Csubmit{
        margin:25px 0 40px 0px;
    }
}


.c_i_wan{
    font-family:db_helvetica, Arial, Helvetica, sans-serif;
    font-size: 17px;
    line-height:17px;
    color:#333;
    margin:0px 0 0 0;
    font-weight:bold;
    float:left;
    margin:0px 0 15px 0;
}
.c_get:link, .c_get:visited, .c_get:hover, .c_get:active{
    font-family:db_helvetica_cond, Arial, Helvetica, sans-serif;
    font-size:35px;
    color:#616a71;
    font-weight:bold;
}
.c_get:hover{
    color:#CCCCCC;
}
.c_get_active:link, .c_get_active:visited, .c_get_active:hover, .c_get_active:active{
    font-family:db_helvetica_cond, Arial, Helvetica, sans-serif;
    font-size:35px;
    color:#000;
    font-weight:bold;
}
@media (max-width: 767px) {
    .con767{
        display:none;
    }
    .f_contact{
        margin:0px 0 0 0;
    }
}
/******************************************************************body********************************************************************/
/************************************************************    About  ****************************************************************/
.fix_about{
    width:1160px;
    margin:0 auto 60px auto!important;
}
.abt_center{
    margin:0px auto!important;
}
.abt_ctrl{
    width:520px!important;
    margin:55px 0px 0px 0px!important;
    float:left;
}
.abt_ctrl2{
    width:520px!important;
    margin:55px 0px 0px 0px!important;
    float:right!important;
}
.abt_ctrl3{
    width:520px!important;
    margin:55px 0px 40px 0px!important;
    float:right!important;
}
.abt_img{
    width:520px;
    margin: 10px 0 50px 0;
}
@media (max-width: 1180px) {
    .abt_center{
        width:520px!important;
    }
    .abt_ctrl2{
        width:520px!important;
        margin:0px 0px 0px 0px!important;
        float:left!important;
    }
    .abt_ctrl3{
        width:520px!important;
        margin:60px 0px 40px 0px!important;
        float:left!important;
    }
}
@media (max-width: 1160px) {
    .fix_about{
        width:100%;
    }
}
@media (max-width: 540px) {
    .abt_center{
        width:320px!important;
    }
    .abt_ctrl{
        width:320px!important;
        margin:55px 0px 0px 0px!important;
        float:left;
        padding:0 10px!important;
    }
    .abt_ctrl2{
        width:320px!important;
        margin:0px 0px 0px 0px!important;
        float:left!important;
        padding:0 10px!important;
    }
    .abt_ctrl3{
        width:320px!important;
        margin:50px 0px 40px 0px!important;
        float:left!important;
        padding:0 10px!important;
    }
    .abt_img{
        width:100%!important;
    }
    .fix_about{
        margin:0 auto 0px auto!important;
    }
}
.abt_head{
    font-family:db_helvetica_cond, Arial, Helvetica, sans-serif;
    font-size: 36px;
    line-height:33px;
    color:#333;
    margin: 0px 0 0 0;
}
.abt_detail{
    font-family:db_helvetica, Arial, Helvetica, sans-serif;
    font-size: 23px;
    line-height:23px;
    color:#333;
    margin: 10px 0 50px 0;
}


.abt_img_center{
    margin:0px auto!important;
}
.img_bt_ctrl{
    width:1160px!important;
    margin:0px 0px 0px 0px;
    padding:0;
    float:left;
}
.abt_img_bt{
    width:290px!important;
    margin: 0px 0 0px 0;
    float:left;
}
@media (max-width: 1160px) {
    .img_bt_ctrl, .abt_img_bt img{
        width:100%!important;
    }
    .abt_img_bt{
        width:25%!important;
    }
}

.abt_for_any{
    font-family:Arial, Helvetica, sans-serif;
    font-size: 28px;
    line-height:33px;
    color:#616a71;
    margin: 0px 0 0 0;
    text-align:center;
    letter-spacing: 4px;
}
.abt_plz{
    font-family:db_helvetica, Arial, Helvetica, sans-serif;
    font-size: 23px;
    line-height:23px;
    color:#000;
    margin:10px 0 0 0;
    text-align:center;
}
.abt_con:link, .abt_con:visited, .abt_con:hover, .abt_con:active{
    font-family:db_helvetica, Arial, Helvetica, sans-serif;
    font-size: 23px;
    line-height:23px;
    color:#000;
    font-weight:bold;
}
.abt_mail{
    width:45px!important;
    margin: 10px auto;
}
.abt_social{
    width:150px!important;
    margin: 15px auto;
}
.abt_social img{
    width:30px!important;
    margin: 0px 10px 15px 10px;
    float:left;
}
.abt_stay{
    font-family:db_helvetica, Arial, Helvetica, sans-serif;
    font-size: 30px;
    line-height:30px;
    color:#333;
    margin:0;
    text-align:center;
    letter-spacing: 3px;
}
.abt_follo{
    font-family:db_helvetica, Arial, Helvetica, sans-serif;
    font-size: 23px;
    line-height:23px;
    color:#616a71;
    margin:0;
    clear:both;
    text-align:center;
    letter-spacing: 1px;
}
@media (max-width: 540px) {
    .abt_stay{
        font-size: 25px;
        line-height:25px;
        color:#333;
        letter-spacing: 2px;
    }
    .abt_follo{
        font-size: 22px;
        line-height:22px;
        letter-spacing: 0px;
    }
}
/******************************************************************body********************************************************************/
/***************************************************************      ****************************************************************/

/******************************************************************body********************************************************************/
/***************************************************************      ****************************************************************/

/******************************************************************body********************************************************************/
/***************************************************************   Services   ****************************************************************/

/**************************************************************************************************************************************/
/**************************************************************************************************************************************/
.black{
    color:#000;
}
.white{
    color:#fff;
}
.white_link:link, .white_link:visited, .white_link:hover, .white_link:active{
    color: #fff;
    text-decoration: none;
    font-family:Tahoma, Geneva, sans-serif;
    font-size:14px;
    line-height:25px;
}
.white_link:hover {
    color: #d7d7d7;
}

/*********************************/
.l_black:link, .l_black:visited, .l_black:hover, .l_black:active{
    color: #000;
    text-decoration: none;
    font-family:Arial, Helvetica, sans-serif;
}
/*********************************/


::-webkit-input-placeholder  { 
    color:#9e9e9e; 
}

input:-moz-placeholder,
textarea:-moz-placeholder { 
    color:#9e9e9e; 
}

.placeholder {
    color:#9e9e9e; 
}

/***********************************************************************/

/* Custom, iPhone Retina */ 
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */ 
@media only screen and (min-width : 480px) {

}

/***********************************************************************/

/* CUSTOMIZE THE NAVBAR
  -------------------------------------------------- */

/* Special class on .container surrounding .navbar, used for positioning it into place. */
.navbar-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    margin-top: 70px;
    margin-bottom: -90px; /* Negative margin to pull up carousel. 90px is roughly margins and height of navbar. */
}
.navbar-wrapper .navbar {

}

/* Remove border and change up box shadow for more contrast */
.navbar .navbar-inner {
    border: 0;
    -webkit-box-shadow: 0 2px 10px rgba(0,0,0,.25);
    -moz-box-shadow: 0 2px 10px rgba(0,0,0,.25);
    box-shadow: 0 2px 10px rgba(0,0,0,.25);
}

/* Downsize the brand/project name a bit */
.navbar .brand {
    padding: 14px 20px 16px; /* Increase vertical padding to match navbar links */
    font-size: 16px;
    font-weight: bold;
    text-shadow: 0 -1px 0 rgba(0,0,0,.5);
}

/* Navbar links: increase padding for taller navbar */
.navbar .nav > li > a {
    padding: 15px 20px;
}

/* Offset the responsive button for proper vertical alignment */
.navbar .btn-navbar {
    margin-top: 10px;
}



